body {
  margin: 0;
}

.container {
  display: grid;
  width: 100%;
  height: 1700px;
  grid-template-rows: 100px 900px 900fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "h1 h1"
    "sec1 sec2"
    "foot foot";
}

.header {
  grid-area: h1;
  border-bottom: 1px solid #ebebeb;
  /* background-color: yellow; */
}

.section1 {
  grid-area: sec1;
  /* background-color: white; */
}

.section2 {
  grid-area: sec2;
  /* background-color: turquoise; */
}

.f1 {
  grid-area: foot;
  background-color: #f7f7f7;
  /* background-color: purple; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 100px;
  grid-template-areas:
    "c1 c2 c3 c4"
    "r1 r1 r1 r1";
}

.header h1 {
  font-family: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 28p;
  font-weight: bold;
  float: left;
  color: black;
}

.header img {
  margin-top: 30px;
  margin-left: 0px;
  float: left;
}

.cols-1 {
  position: relative;
  top: 40px;
  left: 200px;
  margin-top: 40px;
  margin-left: 100px;
  /* background-color: #e00707; */
  width: 380px;
  height: 700px;
  /* border: 1px solid #ebebeb; */
  float: left;
}

.line {
  padding: 2%;
  /* background-color: yellow; */
  width: 364px;
  height: 40px;
  margin-bottom: -15px;
}

.line-1 h2 {
  margin-left: 102px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.28571em;
  color: #d32323;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  font-weight: bold;
  text-align: center;
}

.line-2 p {
  padding-top: 2px;
  text-align: center;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.line-3 p {
  text-align: center;
  padding-top: 10px;
  font-weight: 70;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.line-3 p span:hover {
  text-decoration: underline;
}

.socials {
  position: relative;
  top: 20px;
  left: 0px;
  /* margin-top: 40px; */
  /* background-color: yellow; */
  width: 340px;
  height: 50px;
  margin-left: 20px;
  margin-right: -10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.facebook {
  /* color: #fff; */
  background: #1877f2;
  border: 1px solid #1877f2;
  background-image: none;
  background-repeat: no-repeat;
  /* /* background-position: 50% 50%; */
}

.facebook img {
  margin-left: 70px;
  margin-top: 10px;
}

.facebook p {
  margin-left: 110px;
  margin-top: -30px;
  color: white;
  font-size: 15px;
  font-size: 17px;
  line-height: 1.3125em;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* display: inline-block; */
}

.apple {
  /* color: #fff; */
  background: black;
  border: 1px solid black;
  background-image: none;
  background-repeat: no-repeat;
  /* /* background-position: 50% 50%; */
}

.apple img {
  margin-left: 70px;
  margin-top: 6px;
}

.apple p {
  margin-left: 110px;
  margin-top: -32px;
  color: white;
  font-size: 15px;
  font-size: 17px;
  line-height: 1.3125em;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* display: inline-block; */
}

.facebook:hover {
  background-color: rgba(24, 119, 242, 0.6);
}

.apple:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}

.text {
  text-align: center;
  margin-top: 33px;
  font-size: 15px;
}

.break {
  width: 140px;
  height: 20px;
  /* background-color: yellow; */
  position: relative;
  top: 10px;
  left: 23px;
  /* background-color: #e00707; */
  float: left;
  margin-right: 50px;
  /* margin-left: 40px; */
  /* margin-top: -40px; */
}

.break p {
  display: inline-block;
  position: relative;
  left: 152px;
  top: -36px;
}

.form-1 {
  margin-top: 70px;
  /* background-color: yellow; */
  width: 380px;
  height: 180px;
}

input[type="email"] {
  margin-top: 8px;
  margin-left: 12px;
  width: 347px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid rgb(94, 94, 94);
}

input[type="password"] {
  margin-top: 8px;
  margin-left: 12px;
  width: 347px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid rgb(94, 94, 94);
}

input::placeholder {
  font-weight: normal;
  opacity: 0.5;
  color: rgb(45, 42, 42);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 6px;
}

.signup {
  position: relative;
  top: -120px;
  left: 0px;
  /* margin-top: 40px; */
  background-color: #d32323;
  width: 347px;
  height: 50px;
  margin-left: 10px;
  margin-right: -10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.signup p {
  padding-top: 12px;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 1.3125em;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* display: inline-block; */
}

.signup:hover {
  background-color: rgba(211, 35, 35, 0.6);
  border-color: rgba(211, 35, 35, 0.6);
}
.pp {
  position: relative;
  left: 200px;
  top: -125px;
  /* background-color: red; */
  height: 20px;
  width: 180px;
}

.pp p {
  color: rgb(94, 94, 94);
}

.pp p span:hover {
  text-decoration: underline;
}

.cols-2 img {
  margin-top: 90px;
}

.col1 {
  grid-area: c1;
  /* background-color: hotpink; */
}
.col2 {
  grid-area: c2;
  /* background-color: yellow; */
}
.col3 {
  grid-area: c3;
  /* background-color: green; */
}
.col4 {
  grid-area: c4;
  /* background-color: brown; */
}

.bar {
  grid-area: r1;
  /* background-color: darkorange; */
}

.rows {
  position: relative;
  top: 10px;
  left: 10px;
  margin-top: 40px;
  margin-left: 120px;
  /* background-color: #e00707; */
  width: 220px;
  height: 380px;
  border: 1px solid #ebebeb;
  float: left;
  border: none;
}

.rows ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.rows ul li {
  font-size: 15px;
  padding: 6px 0px;
  color: rgba(110, 112, 114, 1);
  letter-spacing: 0.5px;
  font-family: Open Sans, Helvetica;
  font-weight: normal;
  line-height: 20px;
}

.rows ul li:hover {
  text-decoration: underline;
  visibility: visible;
}

.rows h3 {
  font-family: Open Sans, Helvetica;
}

.copyright {
  position: relative;
  top: 10px;
  left: 100px;
}

.p1 {
  position: relative;
  left: 238px;
  top: -120px;
  /* background-color: red; */
  height: 20px;
  width: 180px;
}

.warning {
  /* background-color: red; */
  background-color: white;
  position: absolute;
  margin-top: -175px;
  margin-left: -40px;
  width: 450px;
  height: 38px;
  border-radius: 3px;
  border: 0.5px solid #c1bfbf;
}

.warning p {
  margin-top: -18px;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: rgb(95, 95, 95);
  margin-left: 28px;
}

.warning img {
  margin-top: 10px;
  margin-left: 5px;
}

.arrow {
  /* background-color: yellow; */
  position: absolute;
  margin-top: -190px;
  /* margin-top: -250px; */
  margin-left: -10px;
  width: 100px;
  height: 100px;
  border: none;
}

.arrow img {
  margin-left: 30;
}

.arrow hr {
  position: absolute;
  margin-top: -10px;
  margin-left: 36px;
  width: 13px;
  height: 2;
  background-color: white;
  border: none;
}
